@font-face {
  font-family: 'DM-Bold';
  src: url(../../public/fonts/DMSans-Bold.ttf);
}

@font-face {
  font-family: 'DM-Medium';
  src: url(../../public/fonts/DMSans-Medium.ttf);
}

@font-face {
  font-family: 'DM-Light';
  src: url(../../public/fonts/DMSans-Light.ttf);
}

@font-face {
  font-family: 'DM-Regular';
  src: url(../../public/fonts/DMSans-Regular.ttf);
}

@font-face {
  font-family: 'Rubik-Regular';
  src: url(../../public/fonts/Rubik-Regular.ttf);
}

@font-face {
  font-family: 'Rubik-Nedium';
  src: url(../../public/fonts/Rubik-SemiBold.ttf);
}

@font-face {
  font-family: 'Rubik-Light';
  src: url(../../public/fonts/Rubik-Light.ttf);
}

@font-face {
  font-family: 'Satoshi-bold';
  src: url(../../public/fonts/Satoshi-Bold.ttf);
}

@font-face {
  font-family: 'Satoshi-Medium';
  src: url(../../public/fonts/Satoshi-Medium.ttf);
}

@font-face {
  font-family: 'Satoshi-Regular';
  src: url(../../public/fonts/Satoshi-Regular.ttf);
}

@font-face {
  font-family: 'Satoshi-Light';
  src: url(../../public/fonts/Satoshi-Light.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&family=Noto+Sans+Osmanya&display=swap');
  
/* @tailwind base;
@tailwind components;
@tailwind utilities; */