@font-face {
  font-family: 'DM-Bold';
  src: url(../../public/assets/fonts/DMSans-Bold.ttf);
}

@font-face {
  font-family: 'DM-Medium';
  src: url(../../public/assets/fonts/DMSans-Medium.ttf);
}

@font-face {
  font-family: 'DM-Light';
  src: url(../../public/assets/fonts/DMSans-Light.ttf);
}

@font-face {
  font-family: 'DM-Regular';
  src: url(../../public/assets/fonts/DMSans-Regular.ttf);
}

@font-face {
  font-family: 'Rubik-Regular';
  src: url(../../public/assets/fonts/Rubik-Regular.ttf);
}

@font-face {
  font-family: 'Rubik-Nedium';
  src: url(../../public/assets/fonts/Rubik-SemiBold.ttf);
}

@font-face {
  font-family: 'Rubik-Light';
  src: url(../../public/assets/fonts/Rubik-Light.ttf);
}

@font-face {
  font-family: 'Satoshi-bold';
  src: url(../../public/assets/fonts/Satoshi-Bold.ttf);
}

@font-face {
  font-family: 'Satoshi-Medium';
  src: url(../../public/assets/fonts/Satoshi-Medium.ttf);
}

@font-face {
  font-family: 'Satoshi-Regular';
  src: url(../../public/assets/fonts/Satoshi-Regular.ttf);
}

@font-face {
  font-family: 'Satoshi-Light';
  src: url(../../public/assets/fonts/Satoshi-Light.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&family=Noto+Sans+Osmanya&display=swap');
  
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.chat-area {
  background-image: url(../../public/assets/images/chat-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#img_blur {
  /* position: absolute;
  left: 0px;
  top: 0px; */
  /* z-index: -1;
  width: 100%;
  height: 100%; */
  background-color: black;
  -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
  filter: blur(10px);
  }
  

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    margin-right: 40px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #c3c3c3;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5969ba;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5840bb;
  }

  #dropdown-date {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 12px;
  }

  #dropdown-month select {
    height: 45px;
    width: 100%; 
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #e2e8f0; 
    border-radius: 8px !important;
    background-color: white;
  }

  #dropdown-year select {
    height: 45px;
    width: 100%; 
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #e2e8f0; 
    border-radius: 8px !important;
    background-color: white;
  }

  #dropdown-day select {
    height: 45px;
    width: 100%; 
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #e2e8f0; 
    border-radius: 8px !important;
    background-color: white;
  }
