@font-face {
  font-family: 'DM-Bold';
  src: url(../../public/assets/fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: 'DM-Medium';
  src: url(../../public/assets/fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: 'DM-Light';
  src: url(../../public/assets/fonts/Raleway-Light.ttf);
}

@font-face {
  font-family: 'DM-Regular';
  src: url(../../public/assets/fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: 'Rubik-Regular';
  src: url(../../public/assets/fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: 'Rubik-Nedium';
  src: url(../../public/assets/fonts/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: 'Rubik-Light';
  src: url(../../public/assets/fonts/Raleway-Light.ttf);
}

@font-face {
  font-family: 'Satoshi-bold';
  src: url(../../public/assets/fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: 'Satoshi-Medium';
  src: url(../../public/assets/fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: 'Satoshi-Regular';
  src: url(../../public/assets/fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: 'Satoshi-Light';
  src: url(../../public/assets/fonts/Raleway-Light.ttf);
}

@font-face {
  font-family: 'Raleway-Light';
  src: url('/public/assets/fonts/Raleway-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url('/public/assets/fonts/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('/public/assets/fonts/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('/public/assets/fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.dropdown-color {
  color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900');
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.chat-area {
  background-image: url(../../public/assets/images/chat-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  overflow-x: hidden !important;
  scroll-behavior: smooth !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: black;  */
  /* Include padding and border in the element's total width and height */
}

:root {
  color-scheme: light !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* Inherit box-sizing to all elements */
}

.react-tel-input .flag-dropdown {
  border-top-left-radius: 32px !important;
  border-bottom-left-radius: 32px !important;
}

#img_blur {
  /* position: absolute;
  left: 0px;
  top: 0px; */
  /* z-index: -1;
  width: 100%;
  height: 100%; */
  background-color: black;
  -webkit-filter: blur(10px);
  /* Safari 6.0 - 9.0 */
  filter: blur(10px);
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  margin-right: 40px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5969ba;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5840bb;
}

#dropdown-date {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 12px;
}

#dropdown-month select {
  height: 45px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #e2e8f0;
  border-radius: 8px !important;
  background-color: white;
}

#dropdown-year select {
  height: 45px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #e2e8f0;
  border-radius: 8px !important;
  background-color: white;
}

#dropdown-day select {
  height: 45px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #e2e8f0;
  border-radius: 8px !important;
  background-color: white;
}

.videoborder :where(*, *::before, *::after) {
  border-radius: 14px;
  /* Adjust the radius as needed */
}

.animated-text-two {
  animation: fadeIn 1s ease-in-out;
}

/* src/AnimatedText.css */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {

  0%,
  50% {
    border-color: transparent;
  }

  50%,
  100% {
    border-color: black;
  }
}

@keyframes pop-word {
  to {
    transform: rotateX(0);
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes bar-scale {
  to {
    transform: scaleY(1);
  }
}

@keyframes sparkle {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1) translate(4px, 1px) rotate(8deg);
  }

  100% {
    transform: scale(0) translate(4px, 1px) rotate(8deg);
  }
}

.rotate {
  display: block;

  animation: show 0.3s forwards, pop-word 1.5s forwards;
  animation-timing-function: cubic-bezier(0.14, 1.23, 0.33, 1.16);
  opacity: 0;

  transform: rotateX(120deg);
  transform-origin: 50% 100%;
}

.word:nth-of-type(2) {
  padding: 0 2rem;

  animation-delay: 4s;

  color: gold;
}


/* Continue this pattern for more letters */