@font-face {
  font-family: 'DM-Bold';
  src: url(../../public//fonts/DMSans-Bold.ttf);
}

@font-face {
  font-family: 'DM-Medium';
  src: url(../../public//fonts/DMSans-Medium.ttf);
}

@font-face {
  font-family: 'DM-Light';
  src: url(../../public//fonts/DMSans-Light.ttf);
}

@font-face {
  font-family: 'DM-Regular';
  src: url(../../public//fonts/DMSans-Regular.ttf);
}

@font-face {
  font-family: 'Rubik-Regular';
  src: url(../../public//fonts/Rubik-Regular.ttf);
}

@font-face {
  font-family: 'Rubik-Nedium';
  src: url(../../public//fonts/Rubik-SemiBold.ttf);
}

@font-face {
  font-family: 'Rubik-Light';
  src: url(../../public//fonts/Rubik-Light.ttf);
}

